* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {

--bright-orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%)

}
/* Structure */

.center {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.wrapper {
    height: 100vh;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 548px;
    min-width: 768px;
    margin: 20px;
}

.col1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: var(--bright-orange);
    padding: 24px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
 
}

.col2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--dark-cyan);
     padding: 24px;
 
}

.col3 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: var(--very-dark-cyan);
     padding: 24px;
     border-top-right-radius: 8px;
     border-bottom-right-radius: 8px;
 
}


/*Typography */

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    padding: 12px 24px 12px 24px;
}
p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: #E5E5E5;
    padding: 24px;
    width: 100%;
}

button {
    background-color: white;
    border: none;
    border-radius: 18px;
    padding: 12px 24px 12px 24px;
    position: relative;
    left: 24px;
    font-weight: 600;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 0.0625rem;
    
    margin-top: 36px;

}

.btn1 {
    color: var(--bright-orange);
}

.btn1:hover {
    background-color: var(--bright-orange);
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.btn2 {
    color: var(--dark-cyan);
 
    }
.btn2:hover {
    background-color: var(--dark-cyan);
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.btn3 {
    color: var(--very-dark-cyan);
}
.btn3:hover {
    background-color: var(--very-dark-cyan);
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.small-pic {
   margin: 24px;
}

/*Responsive */

@media only screen and (max-width: 864px) 
{
    body {
        background-color: ;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        min-width: 375px;
        margin: 20px;
    }

    .col1 {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;
    }

    .col3 {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 8px;
    }
}